*{
    margin: 0;
    padding: 0;
    font-family: 'lato',sans-serif;
    
}
p{
    color: chocolate;
    font-size: 15px;
    font-family: lato;
    font-weight: 20px;
    font-style: normal;
    line-height: 20px;

}
button{
    border-radius: 10px;
    background: crimson;
    color: aliceblue;
    border: none;
    font-size: 15px;
    padding: 15px,28px;
}

}

header{
    background-color:rgba(229,84,115,0,10) ;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-text *{
    margin-bottom: 35px;
    max-width: 400px;

}
.banner .banner-text h1{
    color: brown;
    font-size:30px ;
    font-family: loto;
    font-weight: 60px;
    font-style: italic;
    line-height: normal;
}
.banner .banner-img img{
    width: 150px;
    vertical-align: middle;
}